<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- (title || 'Your elm app') %></title>
    <style media="screen" type="text/css">
      html, body {
        padding: 0;
        margin: 0;
        font-family: Helvetica, Arial, sans-serif;
        background-color: #F2F2F2;
        color: #333333;
      }

      html, body, body > div {
        height: 100%;
        min-height: 100%;
      }
    </style>

    <% if (cssPath) { %>
      <link rel="stylesheet" type="text/css" href="/styles/<%= cssPath %>">
    <% } %>
  </head>
  <body>
    <script type="text/javascript" src="/elm.js"></script>

    <% if (useCustomJs) { %>
      <script type="text/javascript" src="/main.js"></script>
    <% } else { %>
      <script type="text/javascript">window.Elm.fullscreen(window.Elm.App, {});</script>
    <% } %>
  </body>
</html>
